* {
  padding: 0px;
  margin: 0px;
  font-size: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  box-shadow: 1px 1px 60px;
}
.logo {
  color: blu;
  font-size: 100px;
  padding: 10px 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.searchBox {
  transform: translateX(-180px);
}
.text {
}
.submit {
}
.about {
  margin: 33px 10px;
  font-size: 60px;
  color: blue;
}
.about:hover {
  color: rgb(11, 100, 255);
  cursor: pointer;
}

i {
  font-size: 100px;
  color: green;
  padding: 7px 20px;
}
input {
  width: 1000px;
  height: 80px;
  margin: 25px 20px;
  border-radius: 23px;
  padding: 3px;
  text-align: center;
  font-size: 50px;
  border: none;
  box-shadow: 1px 1px 20px;
}
.btn {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 14px;
  border-radius: 51px;
  font-weight: bold;
  border: none;
  transform: translateY(-10px);
}
.btn:hover {
  background-color: black;
  scale: 1.02;
}
.job-container {
  width: 100%;
  height: auto;
  padding: 20px 15px;
  margin: 20px 10px;
  box-shadow: 1px 1px 20px;
}
.company-logo {
  height: 200px;
}
